body{background: url('files/background.png') repeat-y;background-size:100%;
 }



.active {
  opacity: 0.17;
}

.container {
  width: 54vw;
  margin: 0px auto;
  margin-top: 4vh;
  position: relative;
  text-align: center;
}


.inputb {padding-right: 22px;padding-left: 22px}

.btn-md {margin-right: 5px}

.avatar-img{cursor: pointer !important;border-radius: 500px;width: 45px;
height: 45px;}
.avatar{position: absolute; right:30px}

.reload {
  width: 50px;
  height: 50px;
  background-color: brown !important;
  position: absolute;
  box-shadow: 2px 2px 2px black;
  border: none;
  border-radius: 500px;
  transition: 0.3s;
  right: 0;
  cursor: pointer;
  outline: none;
  background: url('files/reload.png') center no-repeat;
  background-size: 45px;
  transform: translateX(50px);
  top: 5px;
}

.add {
  width: 53px;
  height: 53px;
  position: absolute;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
  border-radius: 800px;
  transition: 0.3s;
  right: -51px;
  outline: none;
  background: url('files/plus2.png') center no-repeat;
  background-size: 65px;
  top: 100px;
}

.btn-for-card {position: absolute;right: 1px;top:1px}
.btn-for-card:hover{background-color: red}

.container .input {
  background-color: rgb(107, 29, 29);
  width: 50px;
  height: 50px;
  border-radius: 500px;
  position: absolute;
  top: 100px;
  right: -55px;
  transform: scale(0.1, 0.5);
  transition: 0.5 !important;
  box-shadow: 2px 2px 2px black;
}

.container input {
  height: 25px;
  width: 10px;
  outline: none;
  position: absolute;
  top: 12px;
  transition: 0.5;
  right: 15px;
  box-shadow: 2px 2px 2px black;
  border-radius: 500px;
  border: 0;
}

.menu_parts:hover:not(.active) {
  opacity: 0.3;
}
.checkpoint:hover {
  background-color: #252525 !important;
}
.checkpoint:active {
  background-color: #181818 !important;
}

.bomb:hover {
  opacity: 1;
}

.menu_parts:active:not(.active) {
  opacity: 0.1;
}

.reload:hover {
  opacity: 0.8 !important;
}

.card:hover{opacity: 0.8 !important;cursor: pointer;}

.add:hover {
  opacity: 0.7;
}

.reload:active {
  background-color: rgb(94, 22, 22) !important;
  transition: 1s;
  animation-name: rotate;
  animation-duration: 0.2s;
}

.card:active{opacity: 0.5 !important;
transition: 1 !important;}

.add:active {
  opacity: 0.3;
  transition: 1 !important;
}

.disable {
  pointer-events: none;
  opacity: 0.5;
}

.hide {
  display: none;
}

@keyframes rotate {
  0% {
    transform: translate(100%, 5%) rotate(0deg);
  }
  100% {
    transform: translate(100%, 5%) rotate(360deg);
  }
}
.no-copy{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.fixed-bottom{
  padding-left: 15px;
  padding-bottom: 10px;
}
.help{
  width: 53px;
  height: 53px;
  box-shadow: 2px 2px 2px black;
  border-radius: 800px;
  transition: 0.3s;
  background: url('files/question.png') no-repeat;
  background-size: 53px;
}
